#header {
  padding: 15px;
  transition: 0.2s ease;

  &.active {
    padding: inherit;
    background-color: $black;
  }

  .navbar {
    justify-content: space-between;

    a {
      color: $white;
      cursor: pointer;
      transition: 0.2s ease;
    }

    .nav-link {
      padding: 8px 0;

      &:hover,
      &.active {
        color: $blue;
      }
    }

    .navbar-nav {
      opacity: 0;
      z-index: -1;
      overflow: hidden;
      text-align: right;
      transition: opacity 0.2s ease;
      justify-content: flex-end;

      &.show {
        opacity: 1;
        z-index: inherit;

        .nav-link {
          padding: 8px;
        }
      }
    }

    .hamburger {
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 991px) {
  #header {
    .navbar {
      .navbar-nav {
        order: 3;
        max-height: 0;
        padding-right: 0;
        transition: max-height 0.3s ease;

        &.show {
          max-height: 313px;
        }
      }
    }
  }
}
