#cv {
  #gallery {
    margin: 50px 0;
    transition: height 0.5s ease;

    .item {
      margin-bottom: 25px;

      .card {
        background-color: $grey;
        box-shadow: $shadow-1;
      }

      footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .refer {
          color: $blue;
          cursor: pointer;
          user-select: none;
        }
      }
    }
  }

  #pdf {
    margin: 0;
    color: $white;
    padding: 15px 0;
    text-align: center;
    box-shadow: $shadow;
    background-color: $blue;
    border-radius: $border-radius;
  }
}
