// Border-radius
$border-radius: 10px;
$border-radius-sm: 5px;

//Box-shadow
$shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
$shadow-1: 0 0 5px 0 rgba(0, 0, 0, 0.05);

//Transitions
$trans-2: 0.2s ease;
$trans-5: 0.5s ease;
